/*For Navigation*/
#BarsNav {
    padding-left: 15px;
    padding-top: 15px;
    display: inline-flex;
}

#mylogo {
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  margin-bottom: 20px;
}

.fa {
  font-size: 40px;
  margin-right: 8px;
}

#logout {
  bottom: 25px;
  left: 0px;

  position: absolute;
  padding: 0px 0px 50px 25px;
  font-size: 30px; 
  cursor: pointer;
}

body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 10px 0px 5px 0px lightgray;
  }

  .doctor_name {
    font-size: 20px !important;
  }

  .sidenav a {
    padding: 8px 10px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ababab;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

/*Doc Landing Page*/

#datetime {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff; /* or any other color you prefer */
  background-color: #007bff;
  margin-bottom: 80px;
  border: 1px solid #ccc; /* border style */
  padding: 10px; /* padding inside the border */
  border-radius: 8px;
  display: block; /* change the display to block to center the element */
  text-align: center; /* center the text inside the element */
  margin-left: auto; /* auto margin for left and right to center the element horizontally */
  margin-right: auto;
  width: fit-content; /* set the width to fit the content */
}

#todayTable {
  margin: 10px auto 10px; /* Adjust top margin to move the table up slightly */
  text-align: center; /* Center the content inside the table */
}

#todayTable table {
  border-collapse: collapse;
  width: 80%; /* Adjust as needed */
  margin: 0 auto; /* Center the table inside its container */
  box-shadow: 0px 10px 13px 9px rgba(0,0,0,0.1);
}

#todayTable table, #todayTable th, #todayTable td {
  border: 2px solid rgb(206, 206, 206); 
  background-color: rgb(255, 255, 255);
  padding: 10px 20px 10px;
  text-align: center; 
}

#todayTable th {
  background-color: #007bff;
  color: white;
}

#todayTable td {
  background-color: #ffffff;
}

.titleh2 {
  margin-top: 20px; /* Adjust as needed */
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #007bff;
  border: 1px solid #ccc; /* border style */
  padding: 10px; /* padding inside the border */
  border-radius: 8px;
  display: block; /* change the display to block to center the element */
  text-align: center; /* center the text inside the element */
  margin-left: auto; /* auto margin for left and right to center the element horizontally */
  margin-right: auto;
  width: 23%; 
}
  
/*Doc profile*/



/*Doc Schedules*/

#schedContainer {
  display: flex;
}

#mainSched {
  margin: 20px;
  margin-left: 50px;
  margin-top: 60px; /* Adjust top margin to move the form down */
  padding: 10px;
  border: 4px solid rgb(167, 167, 167);
  width: 190px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 10px 13px 9px rgba(0,0,0,0.1);
}

.boxSched {
  padding: 10px;
}

.boxSched label {
  display: block;
  padding-left: 10px;
  text-align: left;
}

#mainSched input[type="button"] {
  padding: 12px;
    border-radius: 5px;
    border: none; /* Remove the border */
    background-color: #c0c0c0; /* Set a background color to replace the border */
    font-size: 16px; /* Set the font size */
    cursor: pointer; /* Show pointer cursor on hover */
    margin: 3px;
}

#mainSched input[type="button"]:hover {
  background-color: rgb(120, 120, 120);
  color: white
}

input[type="time"], input[type="date"] {
  border: 2px solid lightgray;
  border-radius: 5px;
  width: 130px;
  padding: 5px;
  cursor: pointer;
}

input[type="submit"] {
  padding: 10px; 
  background-color: #007bff;
  color: #fff; 
  border: 2px solid #007bff; 
  border-radius: 5px;
  font-size: 16px; 
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(0, 80, 186);
}

#tableSched {
  display: table;
  margin: 10px auto 10px; /* Adjust top margin to move the table up slightly */
  text-align: center; /* Center the content inside the table */
}

#tableSched table {
  border-collapse: collapse;
  width: 50%; /* Adjust as needed */
  margin: 0 auto; /* Center the table inside its container */
  box-shadow: 0px 10px 13px 9px rgba(0,0,0,0.1);
}

#tableSched table, #tableSched th, #tableSched td {
  border: 2px solid rgb(214, 214, 214); 
  padding: 10px 20px 10px;
  text-align: center; 
}

#tableSched td {
  background-color: #ffffff;
}

#tableSched th {
  background-color: #007bff;
  color: white;
}

#tableSched h3 {
  margin-top: 20px; /* Adjust as needed */
  color: #ffffff;
  background-color: #007bff;
  padding: 10px; /* padding inside the border */
  border-radius: 8px;
  display: block; /* change the display to block to center the element */
  text-align: center; /* center the text inside the element */
  margin-left: auto; /* auto margin for left and right to center the element horizontally */
  margin-right: auto;
  width: 23%; 
}

/*Doc Patient*/

#searchFilter {
  margin-bottom: 20px;
}

#searchFilter select, #searchFilter input[type="text"] {
  padding: 7px;
  border: 2px solid rgb(167, 167, 167);
  border-radius: 10px;
}

#searchFilter select {
  cursor: pointer;
}

#searchFilter select, #searchFilter input[type="text"], #searchFilter input[type="button"], #searchFilter input[type="submit"] {
  box-shadow: 0px 19px 13px -8px rgba(0,0,0,0.1);
}

#searchFilter input[type="button"] {
    padding: 7px;
    border-radius: 5px;
    border: none; /* Remove the border */
    background-color: #c0c0c0; /* Set a background color to replace the border */
    padding: 8px 16px; /* Add padding for better appearance */
    font-size: 13px; /* Set the font size */
    cursor: pointer; /* Show pointer cursor on hover */
}

#searchFilter input[type="button"]:hover {
  background-color: rgb(120, 120, 120);
  color: white
}

#searchFilter input[type="submit"] {
  padding: 7px; 
  background-color: #007bff;
  color: #fff; 
  border: 2px solid #007bff; 
  border-radius: 5px;
  font-size: 13px; 
  cursor: pointer;
}

#searchFilter input[type="submit"]:hover {
  background-color: rgb(0, 80, 186);
}

#patientTable {
  margin: 10px auto 10px; /* Adjust top margin to move the table up slightly */
  text-align: center; /* Center the content inside the table */
}

#patientTable table {
  border-collapse: collapse;
  width: 90%; /* Adjust as needed */
  margin: 0 auto; /* Center the table inside its container */
  box-shadow: 0px 10px 13px 9px rgba(0,0,0,0.1);
}

#patientTable table, #patientTable th, #patientTable td {
  border: 2px solid rgb(206, 206, 206); 
  padding: 10px 20px 10px;
  text-align: center; 
}

#patientTable td {
  background-color: #ffffff;
}

#patientTable th {
  background-color: #007bff;
  color: white;
}

#patientTable h2 {
  margin-top: 20px; /* Adjust as needed */
  font-size: 20px;
  margin-bottom: 40px;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #007bff;
  border: 1px solid #ccc; /* border style */
  padding: 10px; /* padding inside the border */
  border-radius: 8px;
  display: block; /* change the display to block to center the element */
  text-align: center; /* center the text inside the element */
  margin-left: auto; /* auto margin for left and right to center the element horizontally */
  margin-right: auto;
  width: 18%; 
}