#mylogo {
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  margin-bottom: 20px;
}

.fa {
  font-size: 40px;
  margin-right: 8px;
}

#logout {
  bottom: 25px;
  left: 0px;
  position: absolute;
  padding: 0px 0px 50px 10px;
  font-size: 30px; 
  cursor: pointer;
}

body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 10px 0px 5px 0px lightgray;
  }
  
  .sidenav a {
    padding: 8px 10px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ababab;
    text-decoration: underline;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  