/*For Navigation*/
#mylogo {
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  margin-bottom: 20px;
}

.fa {
  font-size: 40px;
  margin-right: 8px;
}

#logout {
  bottom: 25px;
  left: 0px;
  position: absolute;
  padding: 0px 0px 50px 10px;
  font-size: 30px; 
  cursor: pointer;
}

body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 10px 0px 5px 0px lightgray;
  }
  
  .sidenav a {
    padding: 8px 10px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ababab;
    text-decoration: underline;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
/*Doc profile*/

#mainDoc {
  padding-left: 10px;
}

.boxDoc {
  padding: 10px;
}

.boxDoc label {
  border: 1px solid lightgray;
  padding: 5px;  
  color: black;
  border-radius: 5px;
  margin: 5px;
}

.editDoc {
  padding: 5px;
  color: white;
  background-color: rgb(9, 135, 189);
  border-color: white;
  border-radius: 5px;
}

/*Doc Schedules*/

#schedContainer {
  display: flex;
}

#mainSched {
  margin: 20px;
  margin-left: 50px;
  margin-top: 60px; /* Adjust top margin to move the form down */
  padding: 10px;
  border: 4px solid rgb(167, 167, 167);
  width: 190px;
  border-radius: 10px;
  text-align: center;
}

.boxSched {
  padding: 10px;
}

.boxSched label {
  display: block;
  padding-left: 10px;
  text-align: left;
}


input[type="time"] {
  border: 2px solid lightgray;
  border-radius: 5px;
  width: 130px;
  padding: 5px;
  cursor: pointer;
}

input[type="date"] {
  border: 2px solid lightgray;
  border-radius: 5px;
  width: 130px;
  padding: 5px;
  cursor: pointer;
}

input[type="submit"] {
  padding: 10px; 
  background-color: #007bff;
  color: #fff; 
  border: 2px solid #007bff; 
  border-radius: 5px;
  font-size: 16px; 
  cursor: pointer;
}

#tableSched {
  display: table;
  margin: 10px auto 10px; /* Adjust top margin to move the table up slightly */
  text-align: center; /* Center the content inside the table */
}

#tableSched table {
  border-collapse: collapse;
  width: 50%; /* Adjust as needed */
  margin: 0 auto; /* Center the table inside its container */
}

#tableSched table, #tableSched th, #tableSched td {
  border: 3px solid black; 
  padding: 10px 20px 10px;
  text-align: center; 
}



#tableSched th {
  background-color: #007bff;
  color: white;
}

#tableSched h3 {
  margin-top: 20px; /* Adjust as needed */
}
