/*For navigation*/

#BarsNav {
  padding-left: 15px;
    padding-top: 15px;
    display: flex;
}

#mylogo {
  padding: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  margin-bottom: 20px;
}



#logout {
  bottom: 25px;
  left: 0px;
  position: absolute;
  padding: 0px 0px 50px 10px;
  font-size: 30px; 
  cursor: pointer;
}

.fa {
  font-size: 40px;
  margin-right: 8px;
}


  .sidenav {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 10px 0px 5px 0px lightgray;
  }

  .doctor_name {
    font-size: 20px !important;
  }

  .sidenav a {
    padding: 8px 10px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #ababab;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

/****************/
body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: "Lato", sans-serif;
}



.content {
  transition: margin-left 0.1s ease; 
}

.content .profile-container {
  display: flex;
  align-items: center;
}

.content .profile-letter {
  color: #fff; 
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 95px;
  margin-right: 10px;
  margin-left: 50px;
  margin-top: 25px;
  padding-bottom: -2px;
  padding-top: 5px;
}

.content .profile-container .admin-details {
  margin-left: 10px; /* Adjust margin as needed */
}

.content .profile-container .admin-name { 
  font-size: 30px; 
  font-weight: bold; 
}

.content .profile-container .admin-email {
  margin-top: 5px; /* Adjust margin as needed */
  font-size: 14px; /* Adjust font size as needed */
  color: #555; /* Adjust color as needed */
}

.edit-account-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 50px;
}

.account-section {
  margin-bottom: 20px;
}

.account-section h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.pass-account-section h2{
  font-size: 18px;
  margin-bottom: 10px;
}

hr {
  margin-bottom: 20px;
}

.form-group {
  display: inline-block;
  width: calc(33.33% - 10px); 
  max-width: 200px; 
  margin-right: 10px;
  margin-bottom: 20px; 
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.edit-input {
  width: 100%; 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
}

.button-group {
  display: inline-flex;
  align-items: center; 
  margin-top: 10px; 
}

.form-group.contact {
  flex: 1; 
}

.button-group button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #7DA0CA; 
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.button-group button[type="button"] {
  background-color: #7da0ca; 
}

.button-group button[type="submit"] {
  background-color: rgb(93, 117, 105)0ca; 
}

.button-group button:hover {
  opacity: 0.8;
}

.content h2 {
  margin-top: 2px;
  margin-bottom: 7px;
  font-size: 30px;
}

